.startGame {
    background: rgb(57, 56, 70);
    margin-left: 25vw;
    margin-right: 25vw;
    margin-bottom: 1vw;
    /* border-radius: 10px; */
    text-align: center;
    padding: .5vw;
    color: white;
}

img {
    max-width: 50%;
    height: auto;
}

.timeRemaining {
    background: salmon;
    display: none;
    padding-bottom: 20px;
    text-align: center;
}

.questions {
    color: black;
    background: rgb(109, 99, 99);
    display: none;
    text-align: center;
    padding-bottom: 40px;
    padding: 1vw;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-bottom: 1vw;
}

/* .questionArea {
    padding-bottom: 20px;
} */

.answers {
    background: rgb(57, 56, 70);
    display: none;
    padding: 3vw;
    color: grey;
    width: auto;
    text-align: center;
     margin-left: 25vw;
    margin-right: 25vw;
}

.answer-buttons {
    padding: .5vw;
}

.endGame {
    background: green;
    display: none;
    padding: 3vw;
    margin-left: 25vw;
    margin-right: 25vw;
    text-align: center;
    color: black;

}

.submitArea {
    display: none;
}

.p2 {
    font-size: 18px;
}

.high-score-list {
    display: none;
    text-align: center;
    margin: 1vw;
}
